@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-navy-900 text-white font-sans antialiased;
    background-image: radial-gradient(circle at 50% 50%, #312e81 0%, #1e1b4b 100%);
  }
}